:root {
  --page-width: 60rem;
  --content-width: 40rem;
}

body > section {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0 1rem;
}

body > footer {
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-flow: wrap-reverse;
  justify-content: space-between;
  overflow-x: auto;
  padding: 0 1rem;

  ul {
    display: inline-block;
    flex: 0 0 auto;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    opacity: 1;
    padding: 0 0.4rem;
    text-decoration: none;
  }

  a,
  p {
    color: var(--secondary-fg-color);
    font-family: var(--ui-font);
    font-size: 0.6rem;
    line-height: 3em;
    margin: 0;
  }
}

hr {
  border: 0;
  margin: 3em auto;
  max-width: 50%;

  &::before {
    content: "...";
    display: block;
    font-weight: bold;
    letter-spacing: 1em;
    text-align: center;
  }
}

.license {
  display: block;
  font-family: var(--ui-font);
  font-size: 0.75rem;
  margin: 0 auto;
  max-width: var(--content-width);
  text-align: center;

  a,
  svg {
    color: var(--secondary-fg-color);
    vertical-align: middle;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    height: 1.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.constrained {
  max-width: var(--content-width);
}
